<!DOCTYPE html>
<html>
  <head>
    <title>About SKL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% include 'nav.html' %}
    <style>
      #banner{
        height: 500px;
        width: 100%;
        object-fit: cocover;
      }
    </style>
    <img class="img-fluid" id = "banner" src="https://skl-website-v2--leungkys.repl.co/static/about1.jpeg">
  </head>

  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">About SKL Inc</h1>
      <div class="row">
        <div class="col-6">
    <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis eu volutpat odio facilisis mauris. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Elementum facilisis leo vel fringilla. Purus semper eget duis at tellus. Purus viverra accumsan in nisl. Vitae proin sagittis nisl rhoncus. Sit amet nulla facilisi morbi tempus iaculis. Iaculis nunc sed augue lacus. Amet mattis vulputate enim nulla aliquet.
    </p>
    <p class="lead">      
    Adipiscing diam donec adipiscing tristique risus nec feugiat in. Neque gravida in fermentum et sollicitudin ac orci. Magna fringilla urna porttitor rhoncus dolor purus non. Nibh ipsum consequat nisl vel pretium. Interdum varius sit amet mattis vulputate enim nulla aliquet. Consequat mauris nunc congue nisi. Id eu nisl nunc mi ipsum faucibus vitae. Bibendum est ultricies integer quis auctor elit sed vulputate. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Vestibulum lorem sed risus ultricies tristique. Dolor sed viverra ipsum nunc aliquet bibendum. Vitae tortor condimentum lacinia quis vel eros donec. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Felis imperdiet proin fermentum leo. Justo donec enim diam vulputate ut.
    </P>

   <P class="lead">
     Ac tincidunt vitae semper quis lectus nulla. Feugiat scelerisque varius morbi enim. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Mauris cursus mattis molestie a iaculis at. Tristique senectus et netus et malesuada fames ac turpis. Tellus elementum sagittis vitae et leo. Congue mauris rhoncus aenean vel. Tristique et egestas quis ipsum suspendisse.
   </p>
          </div>
        <div class="d-none d-md-block col-3">
        <img src="https://skl-website-v2--leungkys.repl.co/static/about2.jpeg" style= "height:400px">
        </div>
      </div>
      <p class="mt-4">Copyright 2023, SKL</p></p>
      </div>
      {% include 'footer.html' %}
  </body>
</html>