<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>

  <body>
    {% include 'nav.html' %}

    <style>
      #banner{
        height: 600px;
        width: 100%;
        object-fit: cocover;
      }
    </style>
    <img class="img-fluid" id = "banner" src="https://skl-website-v2--leungkys.repl.co/static/submit.jpeg">

    <div class="container">
      <h1 class="text-center mt-2 mb-4">SKL Careers</h1>

      <p>Your appliaction for the job of <b>{{job['title']}}</b> at SKL has been submitted.</p>
      
      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>
  
      <b>LinkedIn URL</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
  
      <b>Education</b>
      <div class="mb-2">{{application['education']}}</div>
  
      <b>Working Experience</b>
      <div class="mb-2">{{application['working_experience']}}</div>
  
      <b>Resume URL</b>
      <div class="mb-2">{{application['resume_url']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>