<!DOCTYPE html>
<html>
  <head>
    <title>SKL Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  
  <body>
    {% include 'nav.html' %}
    <div class="container">
    <h1 class="text-center mt-2 mb-4">SKL Careers</h1>
    {% include 'banner.html' %}
    <h2 class="text-center mt-2 mb-4">SKL</h2>
    <p class="lead">
     auto0autodolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Open Positions</h2>
    <div>
      <p>
        {% for job in jobs %}
          {% include 'joblist.html' %}
        {% endfor %}
      </p>
    </div>
    <a class="btn btn-primary" 
    href="mailto:leungkys@yahoo.com.hk?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20question%20here%3E%0D%0A%0D%0A">
      Contact Us
    </a>
      <p class="mt-4">Copyright 2023, SKL</p></p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>