<!DOCTYPE html>
<html>
  <head>
    <title>{{job.title}} - SKL Careers</title>
    {% include 'bootstrap.html' %}
  </head>

  <body>
    {% include 'nav.html' %}
    <style>
      #banner{
        height: 700px;
        width: 100%;
        object-fit: cocover;
      }
    </style>
    <img class="img-fluid" id = "banner" src="https://skl-website-v2--leungkys.repl.co/static/jobpage.jpeg">
    <div class="container">
      <h1 class="text-center mt-2 mb-4">SKL Careers</h1>
    
      <h3>{{job.title}}</h3>
      <p class="lead"> {{job.location}}</p>
      <h4>Salary</h4>
      <p> {{job.currency}}{{job.salary}}</p>
      <h4>Responibilities</h4>
      <ul>
        {% for line in job.responibilities.split("\n") %}
        <li>{{line}}</li>
        {% endfor %}
      </ul>
      <h4>Requirements</h4>
      <ol>
        {% for line in job.requirements.split("\n") %}
        <li>{{line}}</li>
        {% endfor %}
      </ol>
      {% include 'application_form.html' %}
    </div>
    
     {% include 'footer.html' %}
  </body>
</html>